### Paycheck Protection Program

Let's analyze **an excerpt** from  <a href="https://www.sba.gov/funding-programs/loans/covid-19-relief-options/paycheck-protection-program">SBA's PPP loan data</a>.

The file we're working on is an excerpt (ingested via a link below) so we can't draw any hypothesis from our findings in this homework.

In [2]:
## import library
import pandas as pd

In [59]:
## run the display code here
pd.options.display.float_format = '{:,.0f}'.format

In [60]:
## Ingest remote data
df = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/main/ppp_excerpt.csv")
df

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,BusinessType,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit,ForgivenessAmount,ForgivenessDate
0,9547507704,05/01/2020,464,PPP,"SUMTER COATINGS, INC.",2410 Highway 15 South,Sumter,NaN,29150-9662,12/18/2020,...,Corporation,19248,Synovus Bank,COLUMBUS,GA,Unanswered,Unanswered,NaN,"773,553",11/20/2020
1,9777677704,05/01/2020,464,PPP,"PLEASANT PLACES, INC.",7684 Southrail Road,North Charleston,NaN,29420-9000,09/28/2021,...,Sole Proprietorship,19248,Synovus Bank,COLUMBUS,GA,Male Owned,Non-Veteran,NaN,"746,336",08/12/2021
2,5791407702,05/01/2020,1013,PPP,BOYER CHILDREN'S CLINIC,1850 BOYER AVE E,SEATTLE,NaN,98112-2922,03/17/2021,...,Non-Profit Organization,9551,"Bank of America, National Association",CHARLOTTE,NC,Unanswered,Unanswered,Y,"696,677",02/10/2021
3,6223567700,05/01/2020,920,PPP,KIRTLEY CONSTRUCTION INC,1661 MARTIN RANCH RD,SAN BERNARDINO,NaN,92407-1740,10/16/2021,...,Corporation,9551,"Bank of America, National Association",CHARLOTTE,NC,Male Owned,Non-Veteran,NaN,"395,264",09/10/2021
4,9662437702,05/01/2020,101,PPP,AERO BOX LLC,NaN,NaN,NaN,NaN,08/17/2021,...,NaN,57328,The Huntington National Bank,COLUMBUS,OH,Unanswered,Unanswered,NaN,"370,819",04/08/2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3857047706,05/01/2020,1084,PPP,NORTHERN ALASKA CONTRACTORS LLC,3610 MERE CIRCLE,ANCHORAGE,AK,99502,07/13/2021,...,Limited Liability Company(LLC),12096,"Wells Fargo Bank, National Association",SIOUX FALLS,SD,Unanswered,Unanswered,NaN,"372,876",06/22/2021
996,6411717106,04/14/2020,1084,PPP,"L&M EQUIPMENT, INC.",PO BOX 241,NAKNEK,AK,99633,04/27/2021,...,Corporation,3386,First National Bank Alaska,ANCHORAGE,AK,Male Owned,Non-Veteran,NaN,"360,636",12/17/2020
997,6297468301,01/26/2021,1084,PPS,EL CAPITAN LODGE LLC,1 Sarkar Rd.,Sarkar Cove,AK,99921,NaN,...,Limited Liability Company(LLC),59358,"BOKF, National Association",TULSA,OK,Male Owned,Non-Veteran,NaN,"372,821",06/07/2022
998,6226697002,04/06/2020,1084,PPP,WASILLA DRIVE-IN LLC,2051 E. Sun Mountain Ave.,WASILLA,AK,99654-7351,08/19/2021,...,Limited Liability Company(LLC),116975,Northrim Bank,ANCHORAGE,AK,Unanswered,Unanswered,NaN,"372,315",07/22/2021
999,3933197207,04/27/2020,1084,PPP,"TRIVERUS, LLC",1960 S Eklutna St,Palmer,AK,99645,07/20/2021,...,Limited Liability Company(LLC),116975,Northrim Bank,ANCHORAGE,AK,Male Owned,Non-Veteran,NaN,"371,222",06/02/2021

In [61]:
## get info about data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 53 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   LoanNumber                   1000 non-null   int64
 1   DateApproved                 1000 non-null   object
 2   SBAOfficeCode                1000 non-null   int64
 3   ProcessingMethod             1000 non-null   object
 4   BorrowerName                 1000 non-null   object
 5   BorrowerAddress              992 non-null    object
 6   BorrowerCity                 992 non-null    object
 7   BorrowerState                987 non-null    object
 8   BorrowerZip                  992 non-null    object
 9   LoanStatusDate               916 non-null    object
 10  LoanStatus                   1000 non-null   object
 11  Term                         1000 non-null   int64
 12  SBAGuarantyPercentage        1000 non-null   int64
 13  InitialApprovalAmount        1000 non-null   float64
 14  CurrentApprovalAmount        1000 non-null   float64
 15  UndisbursedAmount            1000 non-null   int64
 16  FranchiseName                34 non-null     object
 17  ServicingLenderLocationID    1000 non-null   int64
 18  ServicingLenderName          1000 non-null   object
 19  ServicingLenderAddress       1000 non-null   object
 20  ServicingLenderCity          1000 non-null   object
 21  ServicingLenderState         1000 non-null   object
 22  ServicingLenderZip           1000 non-null   object
 23  RuralUrbanIndicator          1000 non-null   object
 24  HubzoneIndicator             1000 non-null   object
 25  LMIIndicator                 1000 non-null   object
 26  BusinessAgeDescription       1000 non-null   object
 27  ProjectCity                  992 non-null    object
 28  ProjectCountyName            992 non-null    object
 29  ProjectState                 992 non-null    object
 30  ProjectZip                   992 non-null    object
 31  CD                           992 non-null    object
 32  JobsReported                 1000 non-null   int64
 33  NAICSCode                    999 non-null    float64
 34  Race                         1000 non-null   object
 35  Ethnicity                    1000 non-null   object
 36  UTILITIES_PROCEED            413 non-null    float64
 37  PAYROLL_PROCEED              998 non-null    float64
 38  MORTGAGE_INTEREST_PROCEED    38 non-null     float64
 39  RENT_PROCEED                 147 non-null    float64
 40  REFINANCE_EIDL_PROCEED       1 non-null      float64
 41  HEALTH_CARE_PROCEED          77 non-null     float64
 42  DEBT_INTEREST_PROCEED        20 non-null     float64
 43  BusinessType                 993 non-null    object
 44  OriginatingLenderLocationID  1000 non-null   int64
 45  OriginatingLender            1000 non-null   object
 46  OriginatingLenderCity        1000 non-null   object
 47  OriginatingLenderState       1000 non-null   object
 48  Gender                       1000 non-null   object
 49  Veteran                      1000 non-null   object
 50  NonProfit                    99 non-null     object
 51  ForgivenessAmount            935 non-null    float64
 52  ForgivenessDate              935 non-null    object
dtypes: float64(11), int64(8), object(34)
memory usage: 414.2+ KB

### ```.agg()```

- Use the ```.agg()``` that allows you call specific summary statistics at one time.

In [62]:
## get the count, mean and median for CurrentApprovalAmount
df["CurrentApprovalAmount"].agg(["count", "mean", "median"])

count      1,000
mean     964,704
median   631,722
Name: CurrentApprovalAmount, dtype: float64

In [89]:
## What summary statistics for the CurrentApprovalAmount by Race?
## if you get scientific notation, round it by running the display option that changes the default display
## run the display code here 
## MY NOTE: DISPLAY CODE RAN AFTER LIBRARY IMPORT
df.groupby(["Race","CurrentApprovalAmount"]).describe()

                                                       LoanNumber  \
                                                            count
Race                             CurrentApprovalAmount
American Indian or Alaska Native 430,692                        1
                                 499,871                        1
                                 500,000                        1
                                 541,852                        1
                                 561,710                        1
...                                                           ...
White                            2,779,747                      1
                                 2,987,200                      1
                                 3,403,381                      1
                                 3,711,148                      1
                                 3,776,300                      1

                                                                          \
                                                                mean std
Race                             CurrentApprovalAmount
American Indian or Alaska Native 430,692               7,463,048,610 NaN
                                 499,871               6,223,567,700 NaN
                                 500,000               4,851,977,108 NaN
                                 541,852               4,789,228,307 NaN
                                 561,710               6,745,887,100 NaN
...                                                              ...  ..
White                            2,779,747             5,829,997,101 NaN
                                 2,987,200             5,357,627,107 NaN
                                 3,403,381             4,042,717,100 NaN
                                 3,711,148             1,712,467,104 NaN
                                 3,776,300             4,820,397,010 NaN

                                                                      \
                                                                 min
Race                             CurrentApprovalAmount
American Indian or Alaska Native 430,692               7,463,048,610
                                 499,871               6,223,567,700
                                 500,000               4,851,977,108
                                 541,852               4,789,228,307
                                 561,710               6,745,887,100
...                                                              ...
White                            2,779,747             5,829,997,101
                                 2,987,200             5,357,627,107
                                 3,403,381             4,042,717,100
                                 3,711,148             1,712,467,104
                                 3,776,300             4,820,397,010

                                                                      \
                                                                 25%
Race                             CurrentApprovalAmount
American Indian or Alaska Native 430,692               7,463,048,610
                                 499,871               6,223,567,700
                                 500,000               4,851,977,108
                                 541,852               4,789,228,307
                                 561,710               6,745,887,100
...                                                              ...
White                            2,779,747             5,829,997,101
                                 2,987,200             5,357,627,107
                                 3,403,381             4,042,717,100
                                 3,711,148             1,712,467,104
                                 3,776,300             4,820,397,010

                                                                      \
                                                                 50%
Race                             CurrentApprovalAmount
American Indian or Alaska Native 430,692               7,463,048,610
                                 499,871               6,223,567,700
                                 500,000               4,851,977,108
                                 541,852               4,789,228,307
                                 561,710               6,745,887,100
...                                                              ...
White                            2,779,747             5,829,997,101
                                 2,987,200             5,357,627,107
                                 3,403,381             4,042,717,100
                                 3,711,148             1,712,467,104
                                 3,776,300             4,820,397,010

                                                                      \
                                                                 75%
Race                             CurrentApprovalAmount
American Indian or Alaska Native 430,692               7,463,048,610
                                 499,871               6,223,567,700
                                 500,000               4,851,977,108
                                 541,852               4,789,228,307
                                 561,710               6,745,887,100
...                                                              ...
White                            2,779,747             5,829,997,101
                                 2,987,200             5,357,627,107
                                 3,403,381             4,042,717,100
                                 3,711,148             1,712,467,104
                                 3,776,300             4,820,397,010

                                                                      \
                                                                 max
Race                             CurrentApprovalAmount
American Indian or Alaska Native 430,692               7,463,048,610
                                 499,871               6,223,567,700
                                 500,000               4,851,977,108
                                 541,852               4,789,228,307
                                 561,710               6,745,887,100
...                                                              ...
White                            2,779,747             5,829,997,101
                                 2,987,200             5,357,627,107
                                 3,403,381             4,042,717,100
                                 3,711,148             1,712,467,104
                                 3,776,300             4,820,397,010

                                                       SBAOfficeCode        \
                                                               count  mean
Race                             CurrentApprovalAmount
American Indian or Alaska Native 430,692                           1 1,084
                                 499,871                           1   920
                                 500,000                           1 1,084
                                 541,852                           1 1,084
                                 561,710                           1 1,084
...                                                              ...   ...
White                            2,779,747                         1 1,084
                                 2,987,200                         1 1,084
                                 3,403,381                         1 1,084
                                 3,711,148                         1 1,084
                                 3,776,300                         1 1,084

                                                        ...  \
                                                        ...
Race                             CurrentApprovalAmount  ...
American Indian or Alaska Native 430,692                ...
                                 499,871                ...
                                 500,000                ...
                                 541,852                ...
                                 561,710                ...
...                                                     ...
White                            2,779,747              ...
                                 2,987,200              ...
                                 3,403,381              ...
                                 3,711,148              ...
                                 3,776,300              ...

                                                       OriginatingLenderLocationID  \
                                                                               75%
Race                             CurrentApprovalAmount
American Indian or Alaska Native 430,692                                    56,102
                                 499,871                                     9,551
                                 500,000                                    56,102
                                 541,852                                     3,386
                                 561,710                                     3,386
...                                                                            ...
White                            2,779,747                                   3,386
                                 2,987,200                                  56,102
                                 3,403,381                                  56,102
                                 3,711,148                                 116,975
                                 3,776,300                                 116,975

                                                                \
                                                           max
Race                             CurrentApprovalAmount
American Indian or Alaska Native 430,692                56,102
                                 499,871                 9,551
                                 500,000                56,102
                                 541,852                 3,386
                                 561,710                 3,386
...                                                        ...
White                            2,779,747               3,386
                                 2,987,200              56,102
                                 3,403,381              56,102
                                 3,711,148             116,975
                                 3,776,300             116,975

                                                       ForgivenessAmount  \
                                                                   count
Race                             CurrentApprovalAmount
American Indian or Alaska Native 430,692                               1
                                 499,871                               1
                                 500,000                               1
                                 541,852                               1
                                 561,710                               1
...                                                                  ...
White                            2,779,747                             1
                                 2,987,200                             1
                                 3,403,381                             1
                                 3,711,148                             1
                                 3,776,300                             1

                                                                      \
                                                            mean std
Race                             CurrentApprovalAmount
American Indian or Alaska Native 430,692                 433,300 NaN
                                 499,871                 395,264 NaN
                                 500,000                 503,521 NaN
                                 541,852                 545,697 NaN
                                 561,710                 565,895 NaN
...                                                          ...  ..
White                            2,779,747             2,812,951 NaN
                                 2,987,200             3,021,082 NaN
                                 3,403,381             3,446,180 NaN
                                 3,711,148             3,753,445 NaN
                                 3,776,300             3,819,960 NaN

                                                                            \
                                                             min       25%
Race                             CurrentApprovalAmount
American Indian or Alaska Native 430,692                 433,300   433,300
                                 499,871                 395,264   395,264
                                 500,000                 503,521   503,521
                                 541,852                 545,697   545,697
                                 561,710                 565,895   565,895
...                                                          ...       ...
White                            2,779,747             2,812,951 2,812,951
                                 2,987,200             3,021,082 3,021,082
                                 3,403,381             3,446,180 3,446,180
                                 3,711,148             3,753,445 3,753,445
                                 3,776,300             3,819,960 3,819,960

                                                                            \
                                                             50%       75%
Race                             CurrentApprovalAmount
American Indian or Alaska Native 430,692                 433,300   433,300
                                 499,871                 395,264   395,264
                                 500,000                 503,521   503,521
                                 541,852                 545,697   545,697
                                 561,710                 565,895   565,895
...                                                          ...       ...
White                            2,779,747             2,812,951 2,812,951
                                 2,987,200             3,021,082 3,021,082
                                 3,403,381             3,446,180 3,446,180
                                 3,711,148             3,753,445 3,753,445
                                 3,776,300             3,819,960 3,819,960


                                                             max
Race                             CurrentApprovalAmount
American Indian or Alaska Native 430,692                 433,300
                                 499,871                 395,264
                                 500,000                 503,521
                                 541,852                 545,697
                                 561,710                 565,895
...                                                          ...
White                            2,779,747             2,812,951
                                 2,987,200             3,021,082
                                 3,403,381             3,446,180
                                 3,711,148             3,753,445
                                 3,776,300             3,819,960

[937 rows x 144 columns]

In [90]:
dfr = round (df.describe(), 0)
dfr

,LoanNumber,SBAOfficeCode,Term,SBAGuarantyPercentage,InitialApprovalAmount,CurrentApprovalAmount,UndisbursedAmount,ServicingLenderLocationID,JobsReported,NAICSCode,UTILITIES_PROCEED,PAYROLL_PROCEED,MORTGAGE_INTEREST_PROCEED,RENT_PROCEED,REFINANCE_EIDL_PROCEED,HEALTH_CARE_PROCEED,DEBT_INTEREST_PROCEED,OriginatingLenderLocationID,ForgivenessAmount
count,"1,000","1,000","1,000","1,000","1,000","1,000","1,000","1,000","1,000",999,413,998,38,147,1,77,20,"1,000",935
mean,"5,323,517,923","1,074",37,100,"952,351","964,704",0,"62,647",73,"509,317","16,864","938,579","33,246","71,710","10,000","111,150","33,143","62,025","912,983"
std,"2,362,640,834",94,17,0,"947,021","950,929",0,"75,173",74,"181,263","59,265","938,039","35,466","69,605",NaN,"198,886","47,648","73,473","854,059"
min,"1,001,567,103",101,24,100,"155,010","155,010",0,"3,386",2,"112,511",1,"155,010",567,"1,000","10,000","2,098",900,"3,386","101,211"
25%,"3,570,982,102","1,084",24,100,"453,308","463,935",0,"3,386",30,"423,175",1,"452,336","9,250","28,695","10,000","28,944","4,191","3,386","456,726"
50%,"5,124,373,556","1,084",24,100,"617,999","631,722",0,"56,102",48,"541,350",1,"616,318","20,276","50,222","10,000","50,295","14,629","56,102","623,037"
75%,"7,058,052,030","1,084",60,100,"1,024,391","1,035,338",0,"116,975",85,"621,760","12,460","1,013,201","50,138","91,491","10,000","100,000","35,946","116,975","1,010,828"
max,"9,993,717,000","1,084",60,100,"9,571,397","9,538,531",0,"524,612",500,"924,120","880,559","9,538,531","151,421","404,926","10,000","1,490,741","200,772","518,683","9,615,885"

## ```groupby```

In [91]:
## What is the sum, mean and count for the current 
## approval amount for owners by race 
##mean
df.groupby("Race")[["CurrentApprovalAmount"]].agg(["sum", "mean", "count"])

                                 CurrentApprovalAmount
                                                   sum      mean count
Race
American Indian or Alaska Native             3,123,725   520,621     6
Asian                                        9,282,996   663,071    14
Black or African American                    5,608,920 1,121,784     5
Unanswered                                 811,802,131   992,423   818
White                                      134,885,776   859,145   157

## What question(s) might you ask based on this result?

List answer(s):

================================

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 53 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   LoanNumber                   1000 non-null   int64
 1   DateApproved                 1000 non-null   object
 2   SBAOfficeCode                1000 non-null   int64
 3   ProcessingMethod             1000 non-null   object
 4   BorrowerName                 1000 non-null   object
 5   BorrowerAddress              992 non-null    object
 6   BorrowerCity                 992 non-null    object
 7   BorrowerState                987 non-null    object
 8   BorrowerZip                  992 non-null    object
 9   LoanStatusDate               916 non-null    object
 10  LoanStatus                   1000 non-null   object
 11  Term                         1000 non-null   int64
 12  SBAGuarantyPercentage        1000 non-null   int64
 13  InitialApprovalAmount        1000 non-null   float64
 14  CurrentApprovalAmount        1000 non-null   float64
 15  UndisbursedAmount            1000 non-null   int64
 16  FranchiseName                34 non-null     object
 17  ServicingLenderLocationID    1000 non-null   int64
 18  ServicingLenderName          1000 non-null   object
 19  ServicingLenderAddress       1000 non-null   object
 20  ServicingLenderCity          1000 non-null   object
 21  ServicingLenderState         1000 non-null   object
 22  ServicingLenderZip           1000 non-null   object
 23  RuralUrbanIndicator          1000 non-null   object
 24  HubzoneIndicator             1000 non-null   object
 25  LMIIndicator                 1000 non-null   object
 26  BusinessAgeDescription       1000 non-null   object
 27  ProjectCity                  992 non-null    object
 28  ProjectCountyName            992 non-null    object
 29  ProjectState                 992 non-null    object
 30  ProjectZip                   992 non-null    object
 31  CD                           992 non-null    object
 32  JobsReported                 1000 non-null   int64
 33  NAICSCode                    999 non-null    float64
 34  Race                         1000 non-null   object
 35  Ethnicity                    1000 non-null   object
 36  UTILITIES_PROCEED            413 non-null    float64
 37  PAYROLL_PROCEED              998 non-null    float64
 38  MORTGAGE_INTEREST_PROCEED    38 non-null     float64
 39  RENT_PROCEED                 147 non-null    float64
 40  REFINANCE_EIDL_PROCEED       1 non-null      float64
 41  HEALTH_CARE_PROCEED          77 non-null     float64
 42  DEBT_INTEREST_PROCEED        20 non-null     float64
 43  BusinessType                 993 non-null    object
 44  OriginatingLenderLocationID  1000 non-null   int64
 45  OriginatingLender            1000 non-null   object
 46  OriginatingLenderCity        1000 non-null   object
 47  OriginatingLenderState       1000 non-null   object
 48  Gender                       1000 non-null   object
 49  Veteran                      1000 non-null   object
 50  NonProfit                    99 non-null     object
 51  ForgivenessAmount            935 non-null    float64
 52  ForgivenessDate              935 non-null    object
dtypes: float64(11), int64(8), object(34)
memory usage: 414.2+ KB

In [93]:
## What is the sum and mean for the ForgivenessAmount amount for owners by gender
df.groupby("Gender")[["ForgivenessAmount"]].agg(["sum", "mean"])

             ForgivenessAmount
                           sum    mean
Gender
Female Owned        62,275,639 819,416
Male Owned         245,233,157 814,728
Unanswered         546,130,000 978,728

In [94]:
## What is the sum, mean and count for the current 
## approval amount for owners by race and gender
df.groupby(["Gender", "Race"])[["CurrentApprovalAmount"]].agg(["sum", "mean", "count"])

                                              CurrentApprovalAmount            \
                                                                sum      mean
Gender       Race
Female Owned American Indian or Alaska Native               930,692   465,346
             Asian                                        4,021,749   670,292
             Unanswered                                  33,267,569   723,208
             White                                       24,005,244 1,043,706
Male Owned   American Indian or Alaska Native             2,193,033   548,258
             Asian                                        4,661,817   665,974
             Black or African American                    5,608,920 1,121,784
             Unanswered                                 156,380,018   814,479
             White                                       96,671,077   826,249
Unanswered   Asian                                          599,430   599,430
             Unanswered                                 622,154,544 1,072,680
             White                                       14,209,455   835,850


                                              count
Gender       Race
Female Owned American Indian or Alaska Native     2
             Asian                                6
             Unanswered                          46
             White                               23
Male Owned   American Indian or Alaska Native     4
             Asian                                7
             Black or African American            5
             Unanswered                         192
             White                              117
Unanswered   Asian                                1
             Unanswered                         580
             White                               17

In [95]:
## What is the sum, mean and count for the current 
## approval amount for owners by gender and race
df.groupby(["Race", "Gender"])[["CurrentApprovalAmount"]].agg(["sum", "mean", "count"])

                                              CurrentApprovalAmount            \
                                                                sum      mean
Race                             Gender
American Indian or Alaska Native Female Owned               930,692   465,346
                                 Male Owned               2,193,033   548,258
Asian                            Female Owned             4,021,749   670,292
                                 Male Owned               4,661,817   665,974
                                 Unanswered                 599,430   599,430
Black or African American        Male Owned               5,608,920 1,121,784
Unanswered                       Female Owned            33,267,569   723,208
                                 Male Owned             156,380,018   814,479
                                 Unanswered             622,154,544 1,072,680
White                            Female Owned            24,005,244 1,043,706
                                 Male Owned              96,671,077   826,249
                                 Unanswered              14,209,455   835,850


                                              count
Race                             Gender
American Indian or Alaska Native Female Owned     2
                                 Male Owned       4
Asian                            Female Owned     6
                                 Male Owned       7
                                 Unanswered       1
Black or African American        Male Owned       5
Unanswered                       Female Owned    46
                                 Male Owned     192
                                 Unanswered     580
White                            Female Owned    23
                                 Male Owned     117
                                 Unanswered      17

## What question(s) might you ask about the unanswered categories?:
List answer(s) here:

In [ ]:
## What is the sum, mean, count of CurrentApprovalAmount by BorrowerState?
## What is the sum of CurrentApprovalAmount by BusinessType?
# What is the sum of ForgivenessAmount by BorrowerState?